#search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #282b30;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #282b30;
    width: 90%;
    color: white;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #1e2124;
    color: white;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 97%;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #36393e; 
    border-bottom: 1px solid #1e2124;
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #424549; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: #5865F2 !important; 
    color: #ffffff; 
  }