* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.container {
	width: 100vw;
	background-color: #2c2f33;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}

.container-header {
	padding: 10vh 0 10vh 0;
}

.container-nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container-nav ul {
	width: 80%;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.container-nav ul li {
	margin: 1em;
	width: 120px;
	height: 50px;
	background-color: gray;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.elevListe {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.elev {
	width: 80%;
	height: 400px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 5em;
}
.elev-bilde {
	width: 33%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.elev-bilde-to {
	width: 33%;
	height: 100%;
	display: flex;
}
.elev-bilde img {
	height: 90%;
}
.bilde-to {
	width: 50%;
	height: 100%;
}
.bilde-to img {
	width: 100%;
}
.elev-prosjekt {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
.elev-prosjekt h2 {
	margin-bottom: 1em;
}
.elev-prosjekt p {
	width: 80%;
	font-size: 1.25em;
	text-align: center;
}
.elev-link {
	width: 200px;
	height: 65px;
	background-color: #717171;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	font-size: 1.25em;
	text-decoration: none;
	color: white;
	margin: 1em 0 0 0;
}
